* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  h1, h2, h3, h4, p {
    margin: 0;
  }
  
  .container {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .block {
    padding-top: 120px;
    padding-bottom: 120px;
  }

.header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .light-background {
    background-color: #FFF7F4;
  }
  
  .nav__item {
    margin: 0 15px;
    color: #373737;
    text-decoration: none;
  }
  .nav__item:last-child {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #373737;
  }
  